<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">

    <insert id="insertPost">
        INSERT INTO post(writer_no, title, content, created_at, delete_NY)
        VALUES (#{userNo}, #{title}, #{content}, #{createdAt}, 'N')
    </insert>

    <select id="findPostById" resultType="com.nhnacademy.jdbc.board.post.domain.ReadPost">
        SELECT p.post_no as 'postNo', u.user_no as 'writerNo', u.name as 'writer', p.title as 'title', p.content as 'content', p.created_at as 'createdAt', p.delete_NY as 'deletedAt', p.file_path as 'filePath', p.modify_user_no as 'modifyUserNo', p.modified_at as 'modifiedAt'
        FROM post
        WHERE post_no = #{postNo}
    </select>

    <select id="findAllPosts" resultType="com.nhnacademy.jdbc.board.post.domain.ReadPost">
        SELECT p.post_no as 'postNo', u.user_no as 'writerNo', u.name as 'writer', p.title as 'title', p.content as 'content', p.created_at as 'createdAt', p.delete_NY as 'deletedAt', p.file_path as 'filePath', p.modify_user_no as 'modifyUserNo', p.modified_at as 'modifiedAt'
        FROM post p
                 INNER JOIN user u ON p.writer_no = u.user_no
    </select>

    <select id="findNotDeletedPosts" resultType="com.nhnacademy.jdbc.board.post.domain.ReadPost">
        SELECT p.post_no as 'postNo', u.user_no as 'writerNo', u.name as 'writer', p.title as 'title', p.content as 'content', p.created_at as 'createdAt', p.delete_NY as 'deletedAt', p.file_path as 'filePath', p.modify_user_no as 'modifyUserNo', p.modified_at as 'modifiedAt'
        FROM post p
                 INNER JOIN user u ON p.writer_no = u.user_no
        WHERE p.delete_NY = 'N'
    </select>

</mapper>