<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>게시물 등록</title>
</head>
<body>
<form method="post" th:action="@{${url}}" th:object="${post}" enctype="multipart/form-data">
    <label>
        제목<br/>
        <input type="text" th:field="*{title}" name="title" placeholder="제목을 입력하세요."/>
    </label><br/><br/>

    <label>
        <textarea name="content" th:field="*{content}" rows="10" cols="80" placeholder="내용을 입력하세요."></textarea>
    </label><br/><br/>

    <input type="file" name="file"><br/><br/>

    <input type="submit" value="등록"/>

</form>
</body>
</html>