<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">HOME</a>
<table>
    <thead>
        <tr>
            <th>게시물 번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.postNo}"></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.createdAt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>