<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h1 th:text="${post.title}">제목</h1>
    <p>
        작성자: <span class="author" th:text="${post.writer}">작성자</span>
    </p>
    <p>
        작성일: <span class="date" th:text="${post.createdAt}">작성일</span>
    </p>
    <div th:if="${session.user != null} and
                (${post.username} == ${session.user['username']} or
                 ${session.user['adminNY']} == 'Y')">

        <button>수정</button>&nbsp;
        <button>삭제</button>
    </div>
    <br/>

</div>
<div>
    <textarea th:text="${post.content}" rows="10" cols="80" readonly></textarea>
</div>

<div>
    <h3>댓글</h3>
    <table>
        <thead>
        <tr>
            <th>작성자</th>
            <th>작성일</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td>${comment.writerName}</td>
            <td>${comment.createdAt}</td>
            <td>${comment.content}</td>
        </tr>
        </tbody>
    </table>

    <div th:if="${session.user != null}">
        <h4>댓글 작성</h4>
        <form method="post" th:action="@{/comment + ${post.id}">
            <textarea name="content" rows="5" cols="80" placeholder="댓글을 입력해주세요."></textarea>
            <input type="submit" value="작성">
        </form>
    </div>
</div>
</body>
</html>